# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command.

In [3]:
print("UMAIMA", 4, True, 2.5)

UMAIMA 4 True 2.5

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command.

In [4]:
print("HELLO", 4, True, 2.5, sep="-")

HELLO-4-True-2.5

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line.

In [24]:
print("HELLO", end=" ")
print(4, end=" ")
print(True, end=" ")
print(2.5)

HELLO 4 True 2.5

4) Can a python print function take no value to print???

In [8]:
#Yes, the Python print() function can be used without any value, and in that case, it simply prints a blank line.
print("This is a line of text.")
print()  # This prints a blank line
print("This is another line after a blank line.")

This is a line of text.

This is another line after a blank line.

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015. He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.
Note: Create variables from above text and also assign values from the text.

In [9]:
name = "Mr. Ahmed"
age = 30
profession = "Lawyer"
degree = "Bachelors in Law"
passout_year = 2005
law_firm = "The Himalya Associates"
city = "Karachi"
working_since = 2015
height_feet = 5.10
weight_grams = 70600
monthly_income_pkr = 200000

6) How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year.

In [10]:
current_year = 2025
years_since_graduation = current_year - passout_year
print("Years since graduation:", years_since_graduation)

Years since graduation: 20

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm.

In [25]:
current_year = 2025
years_in_firm = current_year - working_since
print("Years working in the firm:", years_in_firm)

Years working in the firm: 10

8) Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [13]:
monthly_income_pkr = 200000
usd_rate = 283.38
monthly_income_usd = monthly_income_pkr / usd_rate
print("Monthly income in USD:", monthly_income_usd)

Monthly income in USD: 705.7661091114405

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value.

In [18]:
monthly_income_pkr = 200000
usd_rate = 283.38
monthly_income_usd = monthly_income_pkr / usd_rate
print("Monthly income in USD:", monthly_income_usd)
# Check the type
print("Data type:", type(monthly_income_usd))
# Convert to integer
monthly_income_usd_int = int(monthly_income_usd)
print("Monthly income in USD (integer):", monthly_income_usd_int)
# Check the type
print("Data type:", type(monthly_income_usd_int))

Monthly income in USD: 705.7661091114405
Data type: <class 'float'>
Monthly income in USD (integer): 705
Data type: <class 'int'>

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [27]:
# Weight in grams
weight_grams = 70600
# check the type
print("Data type of weight_grams:", type(weight_grams))
# Convert to kilograms and ensure it's an integer
weight_kg = int(weight_grams / 1000)
print("Weight in kilograms:", weight_kg)
# check the type
print("Data type of weight_kg:", type(weight_kg))

Data type of weight_grams: <class 'int'>
Weight in kilograms: 70
Data type of weight_kg: <class 'int'>

11) print the year of birth of Mr. Ahmed.

In [20]:
current_year = 2025
age = 30
year_of_birth = current_year - age
print("Year of birth:", year_of_birth)

Year of birth: 1995

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [21]:
total_money = 100
students = 6
remainder = total_money % students
print("Can be equally divided?", remainder == 0)
print("Remainder:", remainder)

Can be equally divided? False
Remainder: 4